pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/resources/
dynadoc-export.zip
src/basic-lein-cljs/resources/
src/basic-lein-cljs/target